<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690809978480-qhk7rg0h1f3vqad0tn1vpbn7lqv2p2v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690809978480-qhk7rg0h1f3vqad0tn1vpbn7lqv2p2v8</string>
	<key>API_KEY</key>
	<string>AIzaSyDgthfNhQ91aof9u8NQjsdQgKmV6CrR444</string>
	<key>GCM_SENDER_ID</key>
	<string>690809978480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yeonhoc5.MultiCheckList</string>
	<key>PROJECT_ID</key>
	<string>multichecklist</string>
	<key>STORAGE_BUCKET</key>
	<string>multichecklist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690809978480:ios:9e679cd3f66e05632b7eb5</string>
</dict>
</plist>